*{
  font-family: 'Poppins', 'sans-serif';
}


.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.1px);
    -webkit-backdrop-filter: blur(9.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  

  .img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 100px 100px 100px 100px;
    
  }
  

  p {
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  }